body{
    font-family: sans-serif;
    font-size:110%;
    background-color: #FCF7F8;
}

header {
    background-color: #343330;
    text-align: center;
    color: white;
    font-family: arial; 
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 5px;
    padding-top: 15px;
    position: static;
}

aside {
    background-color: #45462A;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 20px;
    padding-bottom: 0.5px;
    padding-top: 5px;
    color: white;
    width: 300px;
    height: 900px;
}

footer {
    background-color: #343330;
    text-align: center;
    color: white;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
    position: bottom;
}

article {
    font-family: 'Courier New', Courier, monospace;
    padding-left: 50px;
    position: absolute;
    left: 300px;
    top: -7.5px;
}

html {
    margin: 5px;
}

.image {
    border: solid;
    border-radius: 200px;
    border-color: orange;
    border-width: 0.5rem;
}

h3 {
    padding-left: 25px;
}

section {
    position: relative;
}
