body{
    font-family: sans-serif;
    font-size:110%;
    background-color: #FCF7F8;
}

header {
    background-color: blue;
    text-align: center;
    color: white;
    font-family: arial; 
}

aside {
    background-color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
    background-color: blue;
    text-align: center;
    color: white;
}

article {
    font-family: 'Courier New', Courier, monospace;
    padding-left: 50px;
}

html {
    margin: 5px;
    border-style: solid;
    border-width: 10px;
    border-color: red;
    border-radius: 10px;    
}

img {
    border: solid;
    border-radius: 200px;
    border-color: red;
    border-width: 2.5px;
}

h3 {
    padding-left: 25px;
}

